html {
  height: 100%;
}
body {
  background-color: white;
  font-family: "Open sans";
  background: url(../images/background.jpg) no-repeat;
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  line-height: 100%;
}
h1 {
  text-align: center;
  background-color: black;
  opacity: 0.5;
  color: white;
}
header {
  height: 15%;
}
footer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  width: 80%;
  margin: auto;
  
}
.stats {
  width: 45%;
  color: white;
  background-color: #bd7cef;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-top: .3rem;
  padding-bottom: .4rem;
}
h5 {
  text-align: center;
}
main {
  display: block;
  width: 80%;
  height: 70%;
  margin: auto;
}

#card-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  height: 100%;
  width: 100%;
  justify-content: space-between;
}
.pig-card {
  background: url(../images/frontPic.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  border-radius: 15px;
}
.pig1 {
  background: url(../images/DaddyPig.png) no-repeat;
  max-width: 100%;
  background-position: center;
  background-size: contain;
}
.pig2 {
  background: url(../images/EmilyPig.jpg) no-repeat;
  max-width: 100%;
  background-position: center;
  background-size: contain;

}
.pig3 {
  background: url(../images/kangarooPig.jpg) no-repeat;
  max-width: 100%;
  height: 100%;
  background-position: center;
  background-size: contain;

}
.pig4 {
  background: url(../images/PigBeach.png) no-repeat;
  max-width: 100%;
  background-position: center;
  background-size: contain;

}
.pig5 {
  background: url(../images/george.png) no-repeat;
  max-width: 100%;
  background-position: center;
  background-size: contain;

}
.pig6 {
  background: url(../images/mummy-pig-related.png) no-repeat;
  max-width: 100%;
  background-position: center;
  background-size: contain;
}
.pig7 {
  background: url(../images/PonyPig.jpg) no-repeat;
  max-width: 100%;
  background-position: center;
  background-size: contain;
}
.pig8 {
  background: url(../images/rabbitPig.jpg) no-repeat;
  max-width: 100%;
  background-position: center;
  background-size: contain;
}
.pig9 {
  background: url(../images/ZebraPig.jpg) no-repeat;
  max-width: 100%;
  background-position: center;
  background-size: contain;
}
.pig-card:hover {
  background-color: gray;
}
.card-back {
  position: absolute;
  background-color: white;
  height: 100%;
  width: 100%;
  border-radius: 15px;
}
.logo {
  background: url(../images/peppaLogo.png) no-repeat center;
  height: 100%;
  width: 100%;
  background-size: contain;
  margin: auto;
}

.modal {
  height: 75%;
  width:  75%;
  background: url(../images/modal3.png) no-repeat;
  background-size: contain;
  background-position: center center;
  border: 2px;
  border-radius: 50px;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  outline: 0px;
  padding: 10px;
}
.restartText{
  vertical-align: middle;
  top:50%;
  position: relative;
  transform: translate(0, -50%);
}
.aboutModal {
  height: 260px;
  width: 400px;
  position: absolute;
  z-index: 2;
  background: url(../images/aboutPic2.jpg) no-repeat;
  background-color: white;
  border: 2px solid lightblue;
  background-size: cover;
  top: 50%;
  left: 50%;
  border-radius: 50px;
  text-align: center;
  transform: translate(-50%, -50%);
  outline: 0px;
  padding: 10px;
}
.about{
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
}

.aboutModal h2 {
  color: black;
  text-align: center;
  font-size: 1em;
}

.aboutModal p {
  color: black;
  text-align: center;
  font-size: 0.75em;
}

#letsPlay {
  width: 35%;
  margin: auto;
  border-radius: 5px;
  font-size: 1em;
  border: 2px solid hotpink;
}
.modal > div {
  margin-left: .5rem;
}
.modal h2 {
  color: black;
  text-align: center;
}
.restart {
  text-align: center;
  width: 50%;
  margin: 10px auto;
  
}
#restart {
  width: 33%;
  margin: auto;
  border-radius: 5px;
  font-size: 1.25em;
  border: 2px solid hotpink;
}

.hidden {
  display: none;
}
.outerControl {
  height: 100%;
  width: 45%;
  padding-top: 6px;
  box-sizing: border-box;
  display: inline-block;
  background-color: #bd7cef;
}
button {
  margin: auto;
  display: block;
  width: 75%;
}
#stop {
  display: inline-block;
  width: 45%;
  margin: auto;
}

#play {
  display: inline-block;
  width: 45%;
  margin: auto;
}

.innerControl {
  margin: auto;
  width: 50%;
  padding: 10px;
  display: inline-block;
  position: absolute;
}
.audioControls {
  display: flex;
  margin: 0 auto;
  width: 75%;
}

.balloon1 {
  background-image: url(../images/balloon-transparentgif-5.gif);
  height: 228px;
  width: 135px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: fixed;
  transform-origin: 0% 100%;
  top: 100%;
  left: 10px;
  z-index: 2;
}

.balloon2 {
  background-image: url(../images/balloon-transparentgif-5.gif);
  height: 228px;
  width: 135px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: fixed;
  transform-origin: 0% 100%;
  top: 110%;
  right: 10px;
  z-index: 2;
}

.dancingPigWins {
  background: url(../images/dancingPig.gif) no-repeat;
  height: 200px;
  width: 200px;
  background-size: 100% 100%;
  position: absolute;
  z-index: 3;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

button,
.outerControl,
.stats {
  border: 2px solid #ac68ee;
  border-radius: 25px;
}
.shadow {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 2;
}


@media screen and (orientation: landscape) {
  .card {
    height: 30%;
    width: 16%;
    display: inline-block;
    position: relative;
    font-size: 0;
    border-radius: 15px;
  }
  header{
    height: 13%;
  }
  main{
    height: 65%;
  }
  footer {
    font-size: 1.25vh;
    height: 20%;
  }
  
  .aboutModal .about{
    width: 70%;
  }
  .stats{
    font-size: 12px;
    font-size: 3.5vh;
  }
  #games-played, #attempts, #accuracy, #stats-title{
    height: 22%;
    margin: .5vh;
  }
  #reset, .audioControls, #about{
    height: 30%;
    font-size: 20px;
    font-size: 2.5vw;
    font-size: 3.5vh;
    margin: .25vh auto;
    padding: 0;
  }
  #play, #stop {
    height: 100%;
    padding:0;
  }
  .restartText h2{
    font-size: 5vh;
}
.restartText .restart{
  font-size: 3vh;
  line-height: 2.5vh;
}
#restart{
  width: 30vh;;
  font-size: 3vh;
  padding: .5rem;;
}
}
@media screen and (orientation: portrait) {
  .card {
    height: 15%;
    width: 32%;
    display: inline-block;
    position: relative;
    font-size: 0;
    border-radius: 15px;
  }
  footer {
    font-size: 1.15vh;
    height: 11%;
  }
  main{
      height: 73%;
  }
  .aboutModal{
    width: 90%;
  }
  
  .aboutModal .about{
    width: 70%;
  }
  .stats{
    font-size: 3vw;
  }
  #games-played, #attempts, #accuracy, #stats-title{
    height: 20%;
    margin: .1vh;
  }
  #reset, .audioControls, #about{
    height: 30%;
    font-size: 2.5vw;
    margin: .25vw  auto;
    padding: 0;
  }
  #play, #stop {
    height: 100%;
    padding:0;
  }
  .restartText h2{
      font-size: 5vw;
  }
  .restartText .restart{
    font-size: 3vw;
    line-height: 2.5vh;
  }
 #restart{
    font-size: 3vw;
    width: 25vw;
    padding:.25em;
  }
} 