* {
    /* outline:1px solid black; */
}
body{
    background-color: white;
    font-family: "Open sans";
    background: url(../images/StockSnap_9YQBFH7PYQ.jpg) no-repeat ;
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
}
h1{
    text-align: center;
    background-color: black;
    opacity:.5;
    color: white;
   
}
aside{
    width: 15%;
    display: inline-block;
    vertical-align: top;
    color: white;
    background-color: black;
    opacity:.5;
    /* background-color: lightblue; */
}
h5{
    text-align: center;
}
#games-played{
    text-align: center;
}
#attempts{
    text-align: center;
}
#accuracy{
    text-align: center;
}
main{
    display: inline-block;
    width: 80%;
    height: 80%;
}
.container>div{
    height: 10vw;
    width: 15%;
    margin: 5px;
    display: inline-block;
    position: relative;

}
.lfz-card{
    background: url(../images/lfz-card.jpg) no-repeat ;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
}
.lfz-card:hover{
    background-color: gray;
}
.card-back{
    position: absolute;
    background-color: yellow;
    height: 100%;
    width: 100%;
}
.coke{
    background: url(../images/coke2.png) no-repeat;
    /* height: 100%; */
    max-width:  100%;
    background-position: center;
    background-size: cover;
}
.apple{
    background: url(../images/apple.png) no-repeat;
    max-width:  100%;
    background-position: center;
    background-size: cover;
}
.instagram{
    background: url(../images/instagram.jpg) no-repeat;
    max-width:  100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}
.Lacoste{
    background: url(../images/Lacoste.jpg) no-repeat;
    max-width:  100%;
    background-position: center;
    background-size: cover;
}
.nike{
    background: url(../images/nike.png) no-repeat;
    max-width:  100%;
    background-position: center;
    background-size: cover;
}
.sprint{
    background: url(../images/sprint.jpg) no-repeat;
    max-width:  100%;
    background-position: center;
    background-size: cover;
}
.starbucks{
    background: url(../images/starbucks.jpg) no-repeat;
    max-width:  100%;
    background-position: center;
    background-size: cover;
}
.target{
    background: url(../images/target.png) no-repeat;
    max-width:  100%;
    background-position: center;
    background-size: cover;
}
.disney{
    background: url(../images/disney2.png) no-repeat;
    max-width:  100%;
    background-position: center;
    background-size: cover;
}
.modal{
    height: 200px;
    width: 200px;
    background-color: lightblue;
    border: 2px solid lightblue;
    border-radius: 50px; 
    position: absolute;
    z-index: 2;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    outline: 0px;
}

button{
    position: absolute; 
    margin: auto ;
    height: 30%;
    width: 50%;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%)
}
.hidden{ /*This selector must be placed at the bottom of the CSS document to ensure it will always apply!*/
    display: none; 
} 